<!DOCTYPE html> 
<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <title>PIGLET</title> <!-- TODO: Change this -->
    </head>

    <body>
        <div class="grid-container">
            <header class="row">
                <div>
                    <a class="brand" href="index.html">PIGLET</a> <!-- TODO: Change this -->
                </div>
                <div>
                    <a href="signin.html">Sign in</a>                
                </div>
            </header>
            <main>
            </main>

            <footer class="row center">
                Powerful Intelligent Sensorial System 
            </footer>

        </div>
    </body>
</html>